{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body_url %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'core:pacientes_list' %}" class="active">Mamografía</a></li>
</ol>
{% endblock %}

{% block content %}

<div class="card ml-5 mr-5 p-4">

    <div class="card-body">
        <form method="post" action=".">
            <div class="row d-flex justify-content-start align-items-start">
                <div class="form-group col-12">
                    <label for="id_resultado">Lado Mamario</label>
                    <select name="lado_mamario" id="id_lado_mamario" class="form-control">
                        <option value="">Seleccione</option>
                        <option value="0" {%if mamografia.lado_mamario == 0 %} selected {% endif %}> Mama Derecha</option>
                        <option value="1" {%if mamografia.lado_mamario == 1 %} selected {% endif %}> Mama Izquierda</option>
                    </select>
                </div>
                <div class="col-6 ">
                    <h3><span class="badge bg-primary mr-4">Vertical </span></h3>
                    <img src="{% if mamografia.imagen_vertical %} {{mamografia.imagen_vertical.url}} {% else %} {{imagen.1.imagen.url}} {% endif %}" width="400px" height="300px" id="image_left">
                </div>
                <div class="col-6">
                    <h3><span class="badge bg-primary mr-4">Horizontal </span></h3>
                    <img src="{% if mamografia.imagen_horizontal %} {{mamografia.imagen_horizontal.url}} {% else %} {{imagen.0.imagen.url}} {% endif %}" width="400px" height="300px" id="image_right">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="id_resultado">Resultado</label>
                <select name="resultado" id="id_resultado" class="form-control">
                    <option value="">Seleccione</option>
                    <option value="0" {%if prediction == 0  or mamografia.resultado == 0 %} selected {% endif %}>Cancer</option>
                    <option value="1" {%if prediction == 1 or mamografia.resultado == 1 %} selected {% endif %}>Normal</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_descripcion">Descripcion</label>
                <input type="text" name="descripcion" class="form-control" required maxlenght="'1024" id="id_descripcion" value="{% if prediction == 1 %} En las imágenes se ha detectado Cáncer {% else %} En las imágenes no se ha detectado Cáncer {% endif %}">
            </div>

            <div class="text-center p-2">
                <button type="submit" class="btn btn-primary mr-3">Confirmar</button>
                <a href="{% url 'core:pacientes_list' %}" class="btn btn-outline-secondary">Cancelar</a>
            </div>
        </form>
    </div>

</div>
{% endblock %}

{% block javascript %}
    
{% endblock %}